<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Restaurant Admin App</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <% if(isAll){ %>
            <h1 class="m-3">All Product List</h1>
        <% } else{ %>
            <h1 class="m-3">Active Product List</h1>
        <% } %>


        <div class="container mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Active</th>
                        <th scope="col">Picture</th>
                        <% if (isAll) { %>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(p=> { %>
                        <tr style="height: 100px;">
                            <td>
                                <%= p.id %>
                            </td>
                            <td>
                                <%= p.name %>
                            </td>
                            <td>
                                <%= p.category %>
                            </td>
                            <td>
                                <%= p.description %>
                            </td>
                            <td>
                                <%= p.price %>
                            </td>
                            <td>
                                <%= p.isActive %>
                            </td>
                            <td>
                                <img src="<%= p.path %>" class="img-thumbnail" style="height:100px;"
                                    title="<%= p.path %>">
                            </td>
                            <% if (isAll) { %>
                                <td>
                                    <a class="btn btn-primary" href="/edit/<%= p.id %>">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" onclick="delProduct('<%= p.id %>')">Delete</a>
                                </td>
                            <% } %>
                            
                        </tr>

                        <% }) %>
                </tbody>
            </table>
        </div>

</body>
<script>
function delProduct(id) {
    if (!confirm('Are you sure you want to delete this product?')) return;

    fetch('/delete', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ id: id })
    })
    .then(res => {
        if(res.ok) location.reload();
    });
}
</script>
</html>