<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/mycss/style.css">
    <title>Restaurant Menu</title>
</head>

<body>
    <div class="layout">
        <div class="top">
        <% Object.keys(categoryList).forEach(c => { %>
            <div class="category" 
                data-category="<%= c %>"
                style="background-image: url('../srcpics/<%= c %>.png');"
                onclick="window.location.href='/menu/<%= c %>'">
            <span class="categoryName"><%= categoryList[c] %></span>
            </div>
        <% }) %>
        </div>
        <%- include(includingway) %>
    </div>
</body>
</html>